
<p>
Hi
</p>
<script src='try.js'>
</script>
Add
<form method='POST' action='/jobtitle/add'>
  <input name='job_title' type='text'/>
  <input type='submit'/>
</form>
Update
<form method='POST' action='/jobtitle/update'>
  <input name='id' type='text'/>
  <input name='job_title' type='text'/>
  <input type='submit'/>
</form>
Delete
<form method='POST' action='/jobtitle/delete'>
  <input name='id' type='text'/>
  <input type='submit'/>
</form>