<!DOCTYPE html>
<html> 
  <head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="/css/_vendor/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/_vendor/bootstrap.vertical-tabs.min.css" rel="stylesheet"/>
    <link href="/css/_vendor/font-awesome.min.css" rel="stylesheet"/>
    <link href="/css/_vendor/ionicons.min.css" rel="stylesheet"/>
    <link href="/css/_vendor/AdminLTE.min.css" rel="stylesheet"/>
    <link href="/css/_vendor/_all-skins.min.css" rel="stylesheet"/>
  </head>
  <body class="skin-black sidebar-mini"> 
    <div class="wrapper">
      @RenderSection("App_Content", required: false)
      @RenderBody()
    </div>
    <script>var dmt=[]</script>
    <script src="/js/_vendor/jquery.min.js"></script>
    <script src="/js/_vendor/bootstrap.min.js"></script>
    <script src="/js/_vendor/jquery.slimscroll.min.js"></script>
    <script src="/js/_vendor/fastclick.min.js"></script>
    <script src="/js/_vendor/app.min.js"></script>
    @RenderSection("App_Script", required: false)
  </body>
</html>